{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops !</h1>

    <p>
        Une erreur s’est produite pendant la connexion au serveur et, par conséquent, la page demandée ne peut pas être chargée.
    </p>
{% endblock %}