{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops !</h1>

    <p>
        Vous ne disposez pas des droits d'accès nécessaire pour accéder à cette ressource ou à cette page.
    </p>
{% endblock %}